#body {
    background-color: #E5E1D7;
    padding: 200px;
    text-align: center;
}  

#wrapper{
    display: grid;
    grid-template-areas: "nav"
                         "bigpic"
                         "content"
                         "footer";
    background-color: #E5E1D7; 
}

a {
  text-decoration: none;
}

#nav {
    grid-area: nav;
    display: grid;
    grid-template-areas: "logo menu";
    background-color: #63D21F;
    border-color: #63D21F;
    height: 110px;
    width: 1520px;
}

#logo {
    grid-area: logo;
    display: grid;
    padding-left: 100px;
    padding-top: 16px;
    padding-right: 100px;
}

#menu{
    grid-area: menu;
    display: grid;
    grid-template-areas: "home aboutme";
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px;
    padding-top: 16px;
}

#home{
    grid-area: home;
    display: subgrid;
    background-color: #20BA26;
    border-width:3px;
    border-style:solid;
    border-color:#09440B;
    text-align: center;
    border-right-width: 1.6px;
}

#aboutme{
    grid-area: aboutme;
    background-color: #5BF342;
    border-width:3px;
    border-style:solid;
    border-color:#09440B;
    text-align: center;
    border-left-width: 1.6px;
}

.bigpic {
    grid-area: bigpic;
    position: relative;
    text-align: center;
    color: white;
}

.title {
    position: absolute;
    bottom: 160px;
    left: 375px;
}

#content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr fr 1fr;
    grid-template-areas:"wondance wonpiano writing"
                        "trophy medal writing"
                        "tahiruatoru musicaward groupdance";
    background-color: #E5E1D7;
    height: 1530px;
}

#wondance {
    grid-area: wondance;
    padding-top: 50px;
    padding-left: 20px;
}

#wonpiano {
    grid-area: wonpiano;
    padding-top: 50px;
}

#trophy {
    grid-area: trophy;
    padding-left: 20px;
}

#medal {
    grid-area: medal;
}

#musicaward {
    grid-area: musicaward;
}

#tahiruatoru {
    grid-area: tahiruatoru;
    padding-left: 20px;
}

#groupdance {
    grid-area: groupdance;
    padding-right: 40px;
}

#writing {
    grid-area: writing;
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    margin-top:50px;
    padding-top: 230px;
    padding-left: 60px;
    padding-right: 60px;
    height: 720px;
    width: 400px;
}

#footer {
    grid-area: footer;
    background-color: #E5E1D7;
    text-align: left;
    height: 50px;  
    padding-left: 60px;
    padding-bottom: 10px;
}